/*SignUp and SignIn Style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-colo: #444;
    --gradient: linear-gradient(#fe5b3d, #ffac38);
}
/*Custom Scroll Bar*/
html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
.logo img{
    width: 70px;
    mix-blend-mode: multiply;
}

.navbar {
    display: flex;
}
.navbar li {
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition:0.5s;
}
.navbar a:hover:after{
    width: 100%;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn .sign-in {
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover {
    background: var(--main-color);
}

body{
    background-image: url('images/Car\ Website\ –\ 1@2x.png');
    background-position: center;
    background-size: cover;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form{
    width: 100%;
    max-width: 468px;
    background-color: #fff;
    border-radius: 32px;
    padding: 25px;
    /*display: flex;
    justify-content: space-between;*/
    flex-wrap: wrap;
    position: relative;
    left: -300px;
    margin-bottom: -206px;
  }
  /*.form:before{
    position: absolute;
    content: "OR";
    background-color: #ff3636;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .form:after{
    position: absolute;
    content: "";
    width: 2px;
    height: 300px;
    background-color: #ddd;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }*/
  .form form{
    flex-basis: 40%;
  }
  .title{
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  .single-form{
    position: relative;
    margin: 10px 0;
  }
  .single-form label{
    display: block;
    margin-bottom: 7px;
    font-size: 18px;
  }
  .single-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
  }
  .single-form i{
    position: absolute;
    right: 10px;
    top: 43px;
    color: #aaa;
  }
  .form input[type="submit"]{
    margin-top: 10px;
    background-color: #ff3636;
    border: 0;
    font-size: 14px;
    transition: .3s;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: 700;
  }
  .form input[type="submit"]:hover{
    background-color: #333;
  }

  @media only screen and (max-width: 800px) {
    .form{
      flex-direction: column;
    }
    .form form {
      margin-bottom: 120px;
    }
    .form::after {
      top: 52%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .form::before {
      top: 52%;
    }
  }

  /*hide/show password */
  .pass-icon
{
    position: absolute;
    top: 41px;
    right: 10px;
    width: 19px;
    cursor: pointer;
}
